<?php
$uploadFileDir = '/var/hashcrack/';
$hashcatWebDir = '/var/hashcrack/';
$hashcatRun = '/home/www-data/hashcat-6.2.2/';
$hashcatRO = '/home/www-data/hc-ro/';
$dictDir = '/root/dict/';
$rulesDir = '/home/www-data/hashcrack/rules/';
$hashcrackDir = '/home/www-data/hashcrack/';
$wwwroot = '/var/www/html/hashcrack-php';
?>
